In [1]:
import pandas as pd

In [3]:
indie_venues = pd.read_csv('./data/indie_venues.csv')

,Name,Capacity,Ages,Genres,Unnamed: 4,Unnamed: 5
0,The Bluebird Cafe\n,100,All,"Acoustic, Americana, Blues, Folk, Singer-Songw...",NaN,NaN
1,The 5 Spot\n\n\n\n\n,180,21+,"Acoustic, Alternative, Americana, Bluegrass, C...",NaN,NaN
2,Mercy Lounge\n\n\n\n\n\n,500,18+,All,NaN,NaN
3,The Local\n,200,21+,All,NaN,NaN
4,The Crying Wolf\n,"50 (back room), 96 (main bar).",21+,All,NaN,NaN
...,...,...,...,...,...,...
105,Kid Rock's Big Honky Tonk,2000 between all 5 floors.,All,NaN,NaN,NaN
106,The Rhinestone Stage\nMusic VenueMuseum\n\n\n\...,"100 seated, 125 standing.",All,NaN,NaN,NaN
107,6th and Peabody\nMusic VenueOutdoor Performanc...,"500 inside, 2000 outside.",All,NaN,NaN,NaN
108,Redneck Riviera\nMusic VenueBarRestaurant\n\n\...,NaN,All,NaN,NaN,NaN
109,Hard Truth Hills\nMusic VenueRestaurantBrewery...,NaN,All,NaN,NaN,NaN